/* DESIGN FOR HEADER */

body {
	background-color: #f1f1e4;
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	min-width: 1000px;
}

#header {
	background-color: #f1f1f1;
	height: 80px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 80px;
}

#logo {
	position: relative;
	top: 5px;
}

#odin_face {
	position: relative;
	width: 60px;
	height: 60px;
	top: 15px;
	left: 45%;
}

#header h3 {
	position: relative;
	display: inline-block;
	top: -20px;
	left: 25%;
}

#header p {
	position: relative;
	display: inline-block;
	left: 10%;
}

/* DESIGN FOR BODY */
.content {
	position: relative;
	display: inline-block;
	width: 30%;
	border: 1px solid #ecebd7;
	background-color: #fff;s
	border-radius: 4px;
	left: 4%;
}

#p1 {
	margin-right: 1%;
}

#p3 {
	margin-left: 1%
}

.content h2 {
	position: relative;
	text-align: center;
	top: -10px;
}

.content h4 {
	position: relative;
	text-align: center;
	top: -10px;
	border-bottom: 1px solid #e5e5e5;
}

.content p {
	font-size: 10px;
}

.input {
	font-size: 12px;
	font-weight: bold;
}

#result {
	text-align: center;
	font-weight: bolder;
	color: #9e3d54;
}